.overlay
  $orange: 'orange'
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0,0,0,0.7)

  .close
    background-color: orange
    border-radius: 50%
    color: white
    font-size: 2rem
    width: 26px
    height: 26px
    text-align: center
    border: solid 4px white
    float: right
    margin: 10px 10px 0 0
  .tab-bar
    .bar
      text-align: center
      margin: 0 20px
      border-bottom: solid 1px gray
      .cur
        border: solid 3px white
        width: 100px
        margin: 0 auto
      .txt
        color: white
        border: solid 3px white
        background-color: orange
        font-size: 1.5rem
        border-radius: 10px
        text-align: center
        padding: 10px 0
        width: 100px
        margin: 20px auto 0 auto
  .tab-content
    margin: 0 25px
    color: white
    font-size: 1.2rem
    .title
      background-color: white
      color: black
      border-radius: 10rem

