$ft12: 1.2rem
$ft14: 1.4rem
$ft16: 1.6rem
$ft18: 1.8rem
$ft20: 2rem
$ft22: 2.2rem

$br-button: 18px
$br-tab-bar: 10px

$tab-bar-height: 62px
$tab-bar-mt: 50px

$page-title-height: 60px

$color-orange: orange
$color-black: black
$color-white: white
$color-gray: gray
$color1: #2cb49b
$color2: #18b398

html, body
  font-size: 62.5%
  height: 100%
  overflow: hidden

p
  margin: 0
  padding: 0

button
  outline: none

=button($borderColor,$bgColor,$color,$fs)
  border: solid 5px $borderColor
  border-radius: $br-button
  padding: 5px 10px
  color: $color
  background-color: $bgColor
  font-size: $fs
  text-align: center
  display: block
  margin: 0 auto

=lay($index,$url)
  position: absolute
  z-index: $index
  background-image: url($url)
  background-repeat: no-repeat
  background-size: 100%
  //background-position: center
  top: 0
  bottom: 0
  left: 0
  right: 0

=circle-image($url,$index:20)
  position: absolute
  top: 10px
  border-radius: 50%
  border: solid 3px $color-black
  background-image: url($url)
  background-repeat: no-repeat
  background-position: center center
  width: 50px
  height: 50px
  z-index: $index

=smooth-scroll()
  overflow: scroll
  -webkit-overflow-scrolling: touch

.black-button
  +button($color-black, $color-white, $color-black, $ft14)

.green-button
  +button($color1, $color-white, $color-black, $ft14)

.bg-brick
  +lay(0, '../assets/background-brick.png')

.bg-home
  +lay(0, '../assets/background-home.png')

.bg-kitchen
  +lay(10, '../assets/background-kitchen.png')
  background-position-y: bottom

.bg-gift1
  +lay(100, '../assets/gift1.png')

.iwilljoin-button
  position: absolute
  left: 0
  right: 0
  bottom: 9.7%
  z-index: 20
  button
    @extend .black-button

.rule-button
  @extend .black-button
  font-size: $ft12
  position: absolute
  top: 10px
  right: 10px

.mask
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.7)
  z-index: 90

.mask-close-button
  position: absolute
  z-index: 91
  top: 10px
  right: 10px
  background-color: $color-orange
  border-radius: 50%
  color: $color-white
  font-size: $ft20
  width: 26px
  height: 26px
  text-align: center
  border: solid 4px $color-white

.loading
  @extend .mask
  display: table
  width: 100%
  height: 100%
  .loading-content
    display: table-cell
    vertical-align: middle
    text-align: center
    img
      width: 50px
      height: 50px
    p
      color: $color-white
      font-size: $ft16

.tab-bar
  display: inline-block
  width: 100%
  text-align: center
  border-bottom: solid 1px $color-gray
  height: $tab-bar-height
  margin: $tab-bar-mt 10px 0 10px
  .bar
    text-align: center
    margin: 0 10px
    display: inline-block
    padding-bottom: 20px
    a
      color: $color-white
      border: solid 3px $color-white
      background-color: $color-orange
      font-size: $ft14
      border-radius: $br-tab-bar
      text-align: center
      padding: 10px
      width: 100px
      display: inline-block
    &.selected
      background-image: url('../assets/selected-bar.png')
      background-repeat: no-repeat
      background-position: center bottom
      background-size: 80%

.tab-content
  +smooth-scroll()
  position: absolute
  top: $tab-bar-height + 10px+$tab-bar-mt
  bottom: 25px
  left: 25px
  right: 25px
  color: $color-white
  font-size: $ft12

.circle-music
  +circle-image('../assets/music.png')
  right: 10px
  background-size: 70%
  background-color: $color-gray

.circle-avatar
  +circle-image('../assets/left-circle.png')
  left: 10px

.page-title
  height: $page-title-height
  line-height: $page-title-height
  font-size: $ft22
  text-align: center

.content
  +smooth-scroll()
  position: absolute
  top: $page-title-height
  bottom: 10px
  left: 10px
  right: 10px
.content-list-item
  display: table
  color: $color2
  font-size: $ft14
  >div
    display: table-cell
    vertical-align: middle
    >div
      display: inline-block
      width: 60%
      &:first-child
        text-align: center
        width: 20%
      &:last-child
        text-align: right
        width: 20%
        font-size: $ft18






