$ft12: 1.2rem
$ft14: 1.4rem
$ft16: 1.6rem
$ft18: 1.8rem
$ft20: 2rem
$ft22: 2.2rem
$ft24: 2.4rem
$ft26: 2.6rem

$br-button: 18px
$br-tab-bar: 24px
$border-width: 5px

$button-width: 100px

$tab-bar-height: 62px
$tab-bar-mt: 50px

$page-title-height: 60px

$color-orange: orange
$color-black: black
$color-white: white
$color-gray: gray
$color-red: red
$color1: #2cb49b
$color2: #18b398
$color3: #00a0e9
$color4: #feffff
$color5: #e01233
$color6: #eb7a46
$color7: #c5a05d

@keyframes rotate
  from
    transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
  to
    transform: rotate(360deg)
    -webkit-transform: rotate(360deg)

html, body
  font-size: 62.5%
  height: 100%
  overflow: hidden

p
  margin: 0
  padding: 0

button
  outline: none

=button($borderColor,$bgColor,$color,$fs)
  border: solid $border-width $borderColor
  border-radius: $br-button
  padding: 5px 10px
  color: $color
  background-color: $bgColor
  font-size: $fs
  text-align: center
  display: block
  margin: 0 auto

=lay($index,$url)
  position: absolute
  z-index: $index
  background-image: url($url)
  background-repeat: no-repeat
  background-size: 100%
  //background-position: center
  top: 0
  bottom: 0
  left: 0
  right: 0

=circle-image($url,$index:20)
  position: absolute
  top: 10px
  border-radius: 50%
  border: solid $border-width $color-black
  background-image: url($url)
  background-repeat: no-repeat
  background-position: center center
  width: 50px
  height: 50px
  z-index: $index

=smooth-scroll()
  overflow: scroll
  -webkit-overflow-scrolling: touch

.black-button
  +button($color-black, $color-white, $color-black, $ft22)
  padding: 5px 20px
  margin-top: 5px

.green-button
  +button($color1, $color4, $color-black, $ft18)
  padding: 5px 20px

.white-button
  +button($color-white, $color-black, $color-white, $ft18)
  min-width: 120px
  margin-top: 10px

.blue-button
  +button(#116db7, #22a0e9, $color-white, $ft18)
  min-width: 120px
  margin-top: 10px

.reselect-button
  @extend .black-button
  margin: 10px 0 0 0
  font-size: $ft16

.bg-brick
  +lay(0, '../assets/background-brick.png')
  background-size: 100% 100%

.bg-home
  +lay(0, '../assets/background-home.png')

.bg-kitchen
  +lay(10, '../assets/background-kitchen.png')
  background-position-y: bottom

.bg-gift1
  +lay(100, '../assets/gift1.png')

.rule-button
  @extend .black-button
  font-size: $ft14
  position: absolute
  top: 10px
  right: 10px
  z-index: 30

.mask
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.7)
  z-index: 90

.mask-close-button
  position: absolute
  z-index: 91
  top: 10px
  right: 10px
  background-color: $color-orange
  border-radius: 50%
  color: $color-white
  font-size: $ft20
  width: 26px
  height: 26px
  text-align: center
  border: solid $border-width $color-white

.loading
  @extend .mask
  display: table
  width: 100%
  height: 100%
  .loading-content
    display: table-cell
    vertical-align: middle
    text-align: center
    img
      width: 50px
      height: 50px
    p
      color: $color-white
      font-size: $ft16

.tab-bar
  display: inline-block
  width: 100%
  text-align: center
  border-bottom: solid 1px $color-white
  height: $tab-bar-height
  margin: $tab-bar-mt 10px 0px 10px
  .bar
    text-align: center
    margin: 0 10px
    display: inline-block
    padding-bottom: 16px
    a
      color: $color-white
      border: solid $border-width $color-white
      background-color: $color-orange
      font-size: $ft14
      border-radius: $br-tab-bar
      text-align: center
      padding: 10px
      width: 100px
      display: inline-block
    &.selected
      background-image: url('../assets/selected-bar.png')
      background-repeat: no-repeat
      background-position: center bottom
      background-size: 80%

.tab-content
  +smooth-scroll()
  position: absolute
  top: $tab-bar-height + 10px+$tab-bar-mt
  bottom: 25px
  left: 25px
  right: 25px
  color: $color-white
  font-size: $ft14
  .my-prize-wrapper
    width: 70%
    margin: 0 auto
    &.form
      text-align: center
      button
        margin: 0 auto
        background-color: orange
        border: none
        color: white
        border-radius: 20px
        padding: 10px 15px
        margin-top: 10px

      > div
        background-color: orange
        padding: 5px 5px
        border-radius: 20px
        display: inline-block
        width: 100%
        margin-top: 10px
      input
        background-color: rgb(255, 222, 182)
        border: none
        border-radius: 20px
        outline: none
        padding: 5px 2px
        //color: rgb(255,239,166)
    &.border
      border: solid 2px orange
      padding: 20px
      border-radius: 10px
      margin-top: 20px
      .title
        font-size: $ft22
        padding: 5px
        text-align: center
        //margin: 0 20px
        border-bottom: solid 2px $color-white
  .tab-content-tag
    display: inline-block
    background-color: $color-white
    color: $color-black
    padding: 5px 10px
    border-radius: $br-tab-bar - 2px
    margin: 15px 0
  p
    padding-top: 10px
    &.note
      color: $color-red

.circle-music
  +circle-image('../assets/music.png')
  right: 10px
  background-size: 70%
  background-color: $color-gray
  animation: rotate 1s linear infinite
  -webkit-animation: rotate 1s linear infinite

.circle-avatar
  +circle-image('../assets/left-circle.png')
  left: 10px

.page
  height: 100%
  overflow: hidden

.page-title
  height: $page-title-height
  line-height: $page-title-height
  font-size: $ft22
  text-align: center
  color: $color2

.page-content
  +smooth-scroll()
  position: absolute
  top: $page-title-height
  bottom: 0
  left: 10px
  right: 10px

.page-content-list-item
  display: table
  color: $color2
  font-size: $ft16
  width: 100%
  margin: 10px 0
  > div
    width: 100%
    display: table-cell
    vertical-align: middle
    > div
      display: inline-block
      vertical-align: middle
      width: 45%
      img
        width: 50px
        height: 50px
      &:first-child
        text-align: center
        width: 20%
      &:last-child
        width: 20%
        text-align: right

.splash
  height: 100%
  display: table
  .splash-content
    display: table-cell
    vertical-align: middle
    text-align: center
    p
      font-size: $ft16
      color: $color3
    img
      display: block
      margin: 0 auto
      width: 10%
      &:first-child
        width: 60%

.bottom-button-container
  position: absolute
  bottom: 8.4%
  text-align: center
  width: 100%
  z-index: 30

.bottom-button-container2
  @extend .bottom-button-container
  bottom: 20px

.result-container
  height: 70%
  text-align: center
  .avatar-container
    width: 33%
    height: 150px
    border: solid $border-width $color-black
    border-radius: $br-button
    margin: 60px auto 0 auto
    overflow: hidden
  .progress
    background: url('../assets/progress.png') no-repeat
    background-position: center
    background-size: 90%
    height: 80px
    @media screen and (max-device-width: 320px)
      height: 55px
  p.txt1
    color: $color1
    padding: 10px 0
    font-size: $ft18
    span
      font-size: $ft20
  p.txt2
    padding: 10px 0
    font-size: $ft16

.gift-container
  position: absolute
  top: 50%
  width: 100%
  p
    text-align: center
    margin: 5px 0
  p.txt1
    color: $color5
    font-size: $ft26
  p.txt2
    color: $color5
    font-size: $ft20
    span
      font-size: $ft26
  p.txt3
    @extend p.txt1
    color: $color6
  p.txt4
    @extend p.txt2
    color: $color6
  p.txt5
    @extend p.txt1
    color: $color7

.photo-container
  $photo-container-height: 100px
  position: absolute
  top: $photo-container-height
  left: 0
  right: 0
  .gesture
    background: url('../assets/background-gesture.png') no-repeat
    background-position: center
    position: absolute
    left: 0
    right: 0
    height: 100%
    width: 100%

  > div
    width: 60%
    margin: 0 auto
    .photo
      height: 300px
      background: url('../assets/default-import.png') no-repeat
      background-position: center
      background-color: $color-white
      background-size: 50%
      @media screen and (max-device-width: 320px)
        height: 250px
      width: 100%
      border: solid $border-width black
      border-radius: $br-button
#friends
  top: 100%
  transition: all 0.5s
  -webkit-transition: all 0.5s
#bottom-arrow
  









