$ft12: 1.2rem
$ft14: 1.4rem
$ft16: 1.6rem
$ft18: 1.8rem
$ft20: 2rem
$ft22: 2.2rem

$br-button: 18px
$br-tab-bar: 10px

$tab-bar-height: 62px
$tab-bar-mt: 50px

html, body
  font-size: 62.5%
  height: 100%
  overflow: hidden

p
  margin: 0
  padding: 0

button
  outline: none

=button($borderColor,$bgColor,$color,$fs)
  border: solid 5px $borderColor
  border-radius: $br-button
  padding: 5px 10px
  color: $color
  background-color: $bgColor
  font-size: $fs
  text-align: center
  display: block
  margin: 0 auto

=lay($index,$url)
  position: absolute
  z-index: $index
  background-image: url($url)
  background-repeat: no-repeat
  background-size: 100%
  //background-position: center
  top: 0
  bottom: 0
  left: 0
  right: 0

.black-button
  +button(black, white, black, $ft14)

.bg-brick
  +lay(0, '../assets/background-brick.png')

.bg-home
  +lay(0, '../assets/background-home.png')

.bg-kitchen
  +lay(10, '../assets/background-kitchen.png')
  background-position-y: bottom

.bg-gift1
  +lay(100, '../assets/gift1.png')

.iwilljoin-button
  position: absolute
  left: 0
  right: 0
  bottom: 9.7%
  z-index: 20
  button
    @extend .black-button

.rule-button
  @extend .black-button
  font-size: $ft12
  position: absolute
  top: 10px
  right: 10px

.mask
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.7)
  z-index: 90

.mask-close-button
  position: absolute
  z-index: 91
  top: 10px
  right: 10px
  background-color: orange
  border-radius: 50%
  color: white
  font-size: $ft20
  width: 26px
  height: 26px
  text-align: center
  border: solid 4px white

.loading
  @extend .mask
  display: table
  width: 100%
  height: 100%
  .loading-content
    display: table-cell
    vertical-align: middle
    text-align: center
    img
      width: 50px
      height: 50px
    p
      color: white
      font-size: $ft16

.tab-bar
  display: inline-block
  width: 100%
  text-align: center
  border-bottom: solid 1px gray
  height: $tab-bar-height
  margin: $tab-bar-mt 10px 0 10px
  //margin: 0 10px 10px 10px
  .bar
    text-align: center
    margin: 0 10px
    display: inline-block
    padding-bottom: 20px
    a
      color: white
      border: solid 3px white
      background-color: orange
      font-size: $ft14
      border-radius: $br-tab-bar
      text-align: center
      padding: 10px
      width: 100px
      display: inline-block
    &.selected
      background-image: url('../assets/selected-bar.png')
      background-repeat: no-repeat
      background-position: center bottom
      background-size: 80%

.tab-content
  position: absolute
  top: $tab-bar-height + 10px+$tab-bar-mt
  bottom: 25px
  left: 25px
  right: 25px
  color: white
  font-size: $ft12
  overflow: scroll

//old
.green-button
  background-color: white
  border: solid 15px green
  color: green

.white-button
  background-color: black
  border: solid 3px white
  color: white
  display: block
  margin: 15px auto
  font-size: 1.2rem
  border-radius: 18px
  padding: 10px 10px
  width: 100px

.music-button
  position: absolute
  top: 18px
  right: 10px
  width: 50px
  height: 50px
  border-radius: 50%
  border: solid 3px black
  background: url('../assets/music.png') no-repeat
  background-size: 70%
  background-position: center
  background-color: gray

.logo-button
  @extend .music-button
  left: 10px
  background: url('../assets/left-circle.png') no-repeat
  background-position: center

.refresh
  color: #2cb49b
  background-color: white
  border: solid 3px #2cb49b
  border-radius: 15px
  padding: 5px 20px
  font-size: 1.2rem





